/*!
 * Cartzilla | Multipurpose E-Commerce React / Next.js Bootstrap Template
 * Copyright 2025 Createx Studio
 * Theme styles
*/

// User variables
// @import "user-variables";
@import "tailwindcss";
// // Configuration & utilities
// @import "variables";
// @import "variables-dark";
// @import "utilities";

// // Bootstrap
// @import "bootstrap";

// Layout, animations & components
// @import "root";
// @import "reboot";
// @import "animations";
// @import "components";

// // User custom styles
// @import "user";
